<%- include('head') -%>

<div class='home-page'>
  <h1>
    <%- include('hackoogle-logo') %>
  </h1>

  <form action='/search'>
    <input class='search' type='text' name='q' />
    <br />
    <button type='submit'>Search</button>
  </form>
</div>

<%- include('foot') -%>
