<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap' rel='stylesheet' />
    <link rel='stylesheet' href='/common.css' />
    <link rel='stylesheet' href='/caloogle.css' />
    <script src='/common.js'></script>
    <script src='/caloogle.js'></script>
  </head>

  <body class='guestbook'>
    <input type='hidden' class='exercise-id' value='<%= exerciseId %>'>
    <nav class='iframeNav'>
      <div class='home'></div>
      <div class='newtab'></div>
      <form class='urlForm'>
        <input class='url'></div>
      </form>
    </nav>
    <div class='root'>
